
  .form-container > form {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  label{
    display: block;
    padding: 10px;
    font-weight: 600;
  }
  input{
    display: block;
    margin-bottom: 12px;
    width: 100%;
  }
  select{
    padding-right: 20.5rem;
    margin-bottom: 12px;
  }
  .submit {
    background: #0563b4 !important;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 3px;
    padding: 5px;
    color: white;
  }
  p {
    color: red;
  }
  @media all and (max-width:320px) {
    input,select{
      width: 11rem;
      padding: 5px !important;
      margin-bottom: 10px;
    }
    label{
      padding: 2px;
      margin-bottom: 18px;
    }
    form{
      padding: 10px !important;
    }
   }