@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
	--primary-color: #0061b0;
	--header-bg-light-color: #fff;
	--header-boxshadow-light-color: rgba(0, 0, 0, 0.3);
	--seperator: #8a8a8f;
	--text-color-white: #fff;
	--text-color-black: #000;
	--secondary-color: #ffdead;
	--desktop-heading-fontsize: 35px;
	--desktop-side-heading-fontsize: 25px;
	--desktop-bodytext-fontsize: 18px;
	--mobile-heading-fontsize: 21px;
	--mboile-side-heading-fontsize: 18px;
	--mobile-bodytext-fontsize: 16px;
}

* {
	box-sizing: border-box;
	overflow-y: none;
	padding: 0;
	margin: 0;
}

/* header */

.header {
	z-index: 99;
	position: sticky;
	top: 0;
}

.navbar-header {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
	background-color: #fff;
}

.no1-pic {
	width: 250px;
	height: 125px;
}

.header-mid-section {
	display: flex;
}

.college-logo {
	margin-right: 40px;
	height: fit-content;
}

.college-logo-img {
	height: 145px;
	background-color: transparent;
	width: 120px;
	cursor: pointer;
}
.college-title1 {
	font-family: Poppins, sans-serif;
	font-weight: bolder;
	color: #0060b1;
	font-size: var(--desktop-heading-fontsize);
}

.college-autonomous {
	display: flex;
	justify-content: center;
	font-size: var(--desktop-bodytext-fontsize);
	color: #000;
	font-weight: normal;
	font-weight: bold;
}

.college-affiliation {
	display: flex;
	justify-content: center;
	color: #000;
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: normal;
	font-weight: bold;
}

.header-mid-section-dates {
	display: flex;
	justify-content: space-between;
}

.college-estd {
	color: #000;
	font-weight: bold;
	font-size: var(--desktop-bodytext-fontsize);
}

.college-eamcet-code {
	color: #000;
	font-weight: bold;
	font-size: var(--desktop-bodytext-fontsize);
}

.naac-pic {
	width: 190px;
	height: 110px;
}

.scl-navbar-menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #fff;
	width: 100%;
	box-shadow: 0.75em 1em 1em rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 20px;
	padding: 20px;
	/* position: fixed;
	top: 15%; */
	z-index: 100;
}

.scl-dropdown-name {
	background-color: #fff;
	color: #0061b0;
	font-size: var(--desktop-bodytext-fontsize);
	border: none;
	padding: 10px;
	font-weight: 500;
	width: max-content;
}

.scl-navbar-content {
	position: relative;
}

.scl-dropdown-menu {
	display: none;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-flow: column;
	color: black;
	position: absolute;
	top: 100%;
	left: 20%;
	transform: translateY(-1rem);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
	z-index: 3;
	/* glass morphism */
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.scl-dropdown-menu-item {
	padding: 8px;
}

.scl-navbar-content.active + .scl-dropdown-menu {
	display: grid;
	transform: translateY(0);
}

.scl-navbar-content.active > .scl-dropdown-name,
.scl-dropdown-name:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.scl-navbar-content.active > .scl-dropdown-name {
	background-color: rgba(0, 0, 0, 0.2);
}

.scl-dropdown-content {
	font-size: var(--desktop-bodytext-fontsize);
	padding: 10px;
	text-decoration: none;
	color: #000;
}

a {
	text-decoration: none;
	color: black;
}

.scl-dropdown-content:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.scl-dropdown-arrow {
	height: 20px;
	width: 20px;
}

.scl-dropdown-name-phone {
	background-color: transparent;
	color: var(--primary-color);
	font-size: 30px;
	border: none;
	margin: 10px 0 0 10px;
	display: flex;
	align-items: baseline;
	width: 100%;
}

.scl-dropdown-menu-phone {
	flex-direction: column;
	margin-left: 10px;
	padding-left: 10px;
	/* box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3); */
	display: none;
}

.scl-dropdown-content-phone {
	font-size: 20px;
	padding: 10px;
}

.scl-navbar-content-phone.active-phone
	> .scl-dropdown-name-phone
	+ .scl-dropdown-menu-phone {
	display: flex;
}

.scl-hamburger-container {
	position: absolute;
	right: 20px;
	height: 35px;
	margin-top: -18px;
	cursor: pointer;
	display: none;
}

.scl-hamburger {
	height: 4px;
	width: 30px;
	margin: 6px;
	background: var(--primary-color);
	cursor: pointer;
	display: block;
}

.scl-hamburger1 {
	display: none;
	transition: 500ms ease-in-out;
}

.scl-hamburger2 {
	transform: translate(0px, 10px) rotate(45deg);
	transition: 300ms ease-in-out;
}

.scl-hamburger3 {
	transform: rotate(-45deg);
	transition: 300ms ease-in-out;
}

.scl-navbar-items {
	display: flex;
	flex-wrap: wrap;
}

.sidebar-note {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	margin: 10px 0 0 10px;
}

.scl-side-bar {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	margin-top: 90px;
	background-color: #fff;
	z-index: 2;
	width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-left: 2px solid #d7d7d7;
	animation: speed 500ms ease-in-out;
	box-shadow: 0.75em 2em 6em rgba(0, 0, 0, 0.3);
	/* glass morphism */
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

@keyframes speed {
	0% {
		margin-right: -60vw;
	}
}

.scl-hide {
	display: block;
}

@media all and (max-width: 760px) {
	.scl-hamburger-container {
		display: block;
	}

	.scl-side-bar {
		overflow-y: scroll;
	}

	.scl-navbar-menu {
		height: 5px;
	}

	.scl-navbar-items {
		display: none;
	}
	.scl-navbar-items-phone {
		flex-direction: column;
	}
}

@media all and (min-width: 761px) {
	.scl-side-bar {
		display: none;
	}
}

.motto {
	margin-left: 200px;
}
.slider-arr {
	color: #fff;
	position: absolute;
	font-size: 18px;
	top: 50%;
	width: 50px;
	height: 50px;
	background: #000000;
	padding: 17px;
	border-radius: 50px;
}
#rum_sst_tab {
	font-family: Arial, sans-serif;
	top: 250px;
	background-color: #0060b1;
	color: white;
	border-style: solid;
	border-width: 0px;
}

#rum_sst_tab:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.rum_sst_contents {
	position: fixed;
	margin: 0;
	padding: 6px 13px 8px 13px;
	text-decoration: none;
	text-align: center;
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: bold;
	border-style: solid;
	display: block;
	z-index: 100000;
}

.rum_sst_right {
	right: -1px;
	cursor: pointer;
	transform-origin: 100% 100%;
	transform: rotate(-90deg);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.rum_sst_right.less-ie-9 {
	right: -120px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.rum_sst_left.less-ie-9 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.notice-marquee {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background-color: var(--primary-color);
	z-index: 100;
	padding: 10px;
	width: 100%;
}

.marquee-close-btn {
	height: 30px;
	width: 30px;
	border-radius: 90px;
	padding: 0;
	margin: 0;
	position: fixed;
	left: 95%;
	bottom: 4%;
	background-color: #fff;
	color: var(--primary-color);
	cursor: pointer;
}

.notice-marquee-content {
	font-size: 20px;
	animation: noticeMarqueeContent 60s infinite;
}

@keyframes noticeMarqueeContent {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.navigation {
	background-color: white;
	height: 40px;
	position: relative;
	z-index: 2;
	overflow-y: none;
	display: flex;
	justify-content: center;
}
.navigation ul {
	padding: 0;
	margin: 0;
	float: left;
	margin-left: 3px;
}
.navigation ul li {
	background-color: white;
	position: relative;
	list-style: none;
	display: inline-block;
}
/* .navigation ul li a {
	display: block;
	padding: 0 7px;
	color: #0060b1 !important;
	text-decoration: none;
	line-height: 40px;
	font-size: 17px;
	font-weight: bold;
	overflow-y: none;
} */
.navigation ul ul {
	position: absolute;
	height: 50px;
	margin-left: -13px;
	display: none;
	width: max-content;
}
.navigation ul li:hover > ul {
	display: block;
	overflow-y: none;
}
.navigation ul ul li {
	float: none;
	display: list-item;
	position: relative;
}
.navigation ul ul ul li {
	position: relative;
	top: -40px;
	left: 177px;
	background-color: white;
	columns: white;
}
.item {
	background: no-repeat scroll center scroll;
	background-size: cover;
}

.main {
	overflow-x: hidden;
}

/* .welcometobecsection {
	overflow-x: hidden;
} */

.welcometobec {
	display: flex;
	margin-bottom: 30px;
	justify-content: center;
	font-weight: 600;
	font-size: var(--desktop-heading-fontsize);
}
.welcomebec-info {
	opacity: 0;
	text-align: justify;
	text-justify: inter;
	hyphens: auto;
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: 400;
	margin: 0 70px 0 -40px;
	transition: all 2s;
	filter: blur(5px);
	transform: translate(-40%);
}

.show-welcometobec {
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
}

.principals-message-section {
	opacity: 0;
	transition: all 2s;
	filter: blur(5px);
	transform: translate(10%);
	overflow-x: hidden;
}

.show-principalMessage {
	opacity: 1;
	filter: blur(0px);
	transform: translateX(0);
}

.principals-message-heading {
	font-size: var(--desktop-side-heading-fontsize);
	font-weight: 500;
	color: var(--primary-color);
}

.principals-message-section-phone {
	display: none;
}

.principals-message-heading-phone {
	font-size: 20px;
	font-weight: 700;
	color: var(--primary-color);
}

.seperator {
	opacity: 0;
	/* display: none; */
	/* transition: all 3s; */
	width: 60px;
	height: 4px;
	background-color: #0061b0;
	/* margin: 10px 0 10px 0; */
}

.show {
	opacity: 1;
	/* transition: all 3s; */
	animation: lineH 1.5s ease-in;
}

@keyframes lineH {
	0% {
		width: 0px;
	}
	100% {
		width: 60px;
	}
}

.seperator-phone {
	width: 60px;
	height: 4px;
	background-color: #0061b0;
	margin: 10px 0 10px 0;
	animation: linePhone 1s ease-in;
}

@keyframes linePhone {
	0% {
		width: 0px;
	}
	100% {
		width: 60px;
	}
}

.principals-message-photo {
	margin: 20px 0 20px 60px;
	height: 300px;
	width: 300px;
}

.principals-message-photo-phone {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	/* margin: 20px 0 20px 60px; */
	height: 300px;
	width: 300px;
}

.principals-message-info {
	text-align: justify;
	text-justify: initial;
	hyphens: auto;
	font-size: var(--desktop-bodytext-fontsize);
	/* font-weight: 600; */
}

.principals-message-name {
	margin: 20px 0 0 0;
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: 600;
}

.principals-message-title {
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: 600;
}

.counter {
	color: #0060b1;
	background: linear-gradient(to bottom, #0060b1 49%, transparent 50%);
	font-family: "Poppins", sans-serif;
	text-align: center;
	width: 130px;
	height: 130px;
	padding: 15px 10px 25px;
	margin: 0 auto;
	border: 8px solid #0060b1;
	border-radius: 100% 100%;
	box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.3);
}
.counter .counter-value {
	color: #fff;
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: 700;
	display: block;
	margin: 0 0 25px;
}
.counter h3 {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}
.counter.one {
	color: #0060b1;
	background: linear-gradient(to bottom, #0060b1 49%, transparent 50%);
	border-color: #0060b1;
}
.counter.two {
	color: #0060b1;
	background: linear-gradient(to bottom, #0060b1 49%, transparent 50%);
	border-color: #0060b1;
}
.counter.three {
	color: #0060b1;
	background: linear-gradient(to bottom, #0060b1 49%, transparent 50%);
	border-color: #0060b1;
}

.border {
	padding: 10px;
	padding-top: 0%;
	border: 3px solid #0060b1;
	border-radius: 8px;
	width: 600px;
	position: relative;
	margin: auto;
	text-align: justify;
	hyphens: auto;
	font-weight: 500;
	font-size: var(--desktop-bodytext-fontsize);
}

.e {
	height: 50px;
}
.v-m {
	background-image: url(./images/v-m.jpg);

	background-position: center;
}

.campus-updates-heading {
	display: flex;
	justify-content: center;
	margin: 0 auto 0 auto;
	color: var(--primary-color);
	font-size: var(--desktop-heading-fontsize);
	font-weight: 600;
}

.campus-updates {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin: 10px 100px 10px 100px;
}
.campus-updates-tabs {
	display: flex;
}

.latest-news {
	padding: 10px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-color-white);
	font-size: var(--desktop-side-heading-fontsize);
	font-weight: 500;
}

.notices {
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	background-color: rgba(217, 217, 217, 0.8);
	color: var(--text-color-black);
	font-size: var(--desktop-side-heading-fontsize);
	font-weight: 500;
}

.campus-updates-latestNews-info {
	border: 5px solid var(--primary-color);
	margin-bottom: 100px;
	/* height: 100px;
	width: 100px; */
	font-size: var(--desktop-bodytext-fontsize);
}

.campus-updates-latestNews-template {
	display: grid;
	grid-template-columns: 5fr 0.5fr;
	grid-template-rows: 0.5fr 0.7fr;
	margin: 10px 30px 10px 30px;
}

.campus-updates-notices-template {
	display: none;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 10px 30px 10px 30px;
}

.campus-updates-notices-template-heading {
	grid-row: 1/1;
	color: var(--primary-color);
	font-size: var(--desktop-side-heading-fontsize);
	font-weight: 400;
	margin: 20px 0 20px 0;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}

.campus-updates-latestNews-template-heading {
	grid-row: 1/1;
	color: var(--primary-color);
	font-size: var(--desktop-side-heading-fontsize);
	font-weight: 500;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}

.campus-updates-latestNews-template-info {
	grid-row: 2/2;
	font-size: var(--desktop-bodytext-fontsize);
	font-weight: 400;
}

.campus-updates-latestNews-date-placeholder {
	grid-row: 1/3;
	width: max-content;
}

.campus-updates-latestNews-date {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	background-color: var(--primary-color);
	color: var(--text-color-white);
	font-weight: 600;
	font-size: var(--desktop-side-heading-fontsize);
}

.campus-updates-latestNews-month-year {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 5px 10px;
	margin-bottom: 20px;
	background-color: var(--secondary-color);
	color: var(--text-color-black);
	font-weight: 600;
}

.campus-updates-seperator {
	grid-column: 1/3;
	background-color: #aa9999;
	height: 2px;
}

.campus-updates-viewMore {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	color: var(--primary-color);
}

.campus-updates-viewMore a {
	text-decoration: none;
	margin: 0 50px 10px 0;
}

@media all and (max-width: 1350px) {
	.scl-dropdown-menu {
		left: 0%;
	}
	.welcomebec-info {
		margin: 0;
		margin-left: -5px;
	}
}

@media all and (max-width: 1108px) {
	.college-title1 {
		font-size: 25px;
	}
	.college-autonomous {
		font-size: 15px;
	}
	.college-affiliation {
		font-size: 15px;
	}
	.college-estd {
		font-size: 15px;
	}
	.college-eamcet-code {
		font-size: 15px;
	}
}

@media all and (max-width: 1024px) {
	.college-title1 {
		font-size: 20px;
	}
	.college-autonomous {
		font-size: 15px;
	}
	.college-affiliation {
		font-size: 15px;
	}
	.college-estd {
		font-size: 15px;
	}
	.college-eamcet-code {
		font-size: 15px;
	}
}

@media screen and (max-width: 990px) {
	.counter {
		margin-bottom: 40px;
	}
}

@media all and (max-width: 972px) {
	.college-title1 {
		display: flex;
		justify-content: center;
		font-size: 16px;
	}
	.college-autonomous {
		font-size: 14px;
	}
	.college-affiliation {
		font-size: 10px;
	}
	.no1-pic {
		height: 80px;
		width: 150px;
	}
	.college-logo-img {
		height: 100px;
		width: 100px;
	}
	.welcometobec {
		font-size: 30px;
	}
}

@media all and (max-width: 768px) {
	.college-title1 {
		font-size: 9px;
	}
	.college-autonomous {
		font-size: 6px;
	}
	.college-affiliation {
		font-size: 6px;
	}
	.college-estd {
		font-size: 6px;
	}
	.college-eamcet-code {
		font-size: 6px;
	}
	.no1-pic {
		height: 50px;
		width: 100px;
	}
	.college-logo-img {
		height: 50px;
		width: 50px;
	}
	.naac-pic {
		height: 50px;
		width: 80px;
	}
	.principals-message-section {
		display: none;
	}
	.principals-message-section-phone {
		display: block;
	}
	.welcometobec {
		font-size: 20px;
	}
	.campus-updates {
		margin: 0 10px 0 10px;
	}
	.marquee-close-btn {
		left: 90%;
	}
}

@media screen and (max-width: 600px) {
	.border {
		width: 500px;
	}
}

@media screen and (max-width: 500px) {
	.border {
		width: 400px;
		/* text-align: start; */
	}
	.campus-updates-latestNews-date-placeholder {
		/* display: none; */
	}
}

@media screen and (max-width: 400px) {
	.border {
		width: 300px;
	}
}

@media screen and (max-width: 300px) {
	.border {
		width: 200px;
	}
}

@media screen and (max-width: 200px) {
	.border {
		width: 100px;
	}
}

@media all and (max-width: 425px) {
	.header-mid-section {
		margin-left: -30px;
	}
	.college-title1 {
		font-size: 20px;
	}
	.college-autonomous {
		font-size: 15px;
	}
	.college-affiliation {
		font-size: 15px;
	}
	.college-estd {
		font-size: 15px;
	}
	.college-eamcet-code {
		font-size: 15px;
	}
	.no1-pic {
		display: none;
	}
	.college-logo-img {
		display: none;
	}
	.naac-pic {
		display: none;
	}
	.welcometobec {
		font-size: 18px;
	}
	.scl-side-bar {
		margin-top: 137.5px;
	}
	.campus-updates-latestNews-template-heading {
		font-size: var(--mobile-bodytext-fontsize);
		font-size: bolder;
	}
	.campus-updates-latestNews-template-info {
		font-size: var(--mobile-bodytext-fontsize);
		grid-column: 1/3;
	}
	.campus-updates-latestNews-date {
		font-size: var(--mobile-bodytext-fontsize);
	}
	.campus-updates-latestNews-month-year {
		font-size: var(--mobile-bodytext-fontsize);
	}
	.campus-updates-seperator {
		grid-column: 1/3;
	}
	.campus-updates-latestNews-date-placeholder {
		grid-row: 1/2;
	}
}

@media all and (max-width: 375px) {
	.header-mid-section {
		margin-left: -30px;
	}
	.college-title1 {
		font-size: 20px;
	}
	.college-autonomous {
		font-size: 15px;
	}
	.college-affiliation {
		font-size: 12px;
	}
	.college-estd {
		font-size: 15px;
	}
	.college-eamcet-code {
		font-size: 15px;
	}
	.no1-pic {
		display: none;
	}
	.college-logo-img {
		display: none;
	}
	.naac-pic {
		display: none;
	}
	.welcometobec {
		font-size: 17px;
	}
}

@media all and (max-width: 386px) {
	.scl-side-bar {
		margin-top: 160px;
	}
}

@media all and (max-width: 375px) {
	.scl-side-bar {
		margin-top: 133px;
	}
}

@media all and (max-width: 350px) {
	.header-mid-section {
		margin-left: -30px;
	}
	.college-title1 {
		font-size: 19px;
	}
	.college-autonomous {
		font-size: 15px;
	}
	.college-affiliation {
		font-size: 12px;
	}
	.college-estd {
		font-size: 15px;
	}
	.college-eamcet-code {
		font-size: 15px;
	}
	.no1-pic {
		display: none;
	}
	.college-logo-img {
		display: none;
	}
	.naac-pic {
		display: none;
	}
	.welcometobec {
		font-size: 14px;
	}
	.scl-side-bar {
		margin-top: 131.5px;
	}
}

@media all and (max-width: 334px) {
	.college-title1 {
		font-size: 18px;
	}
	.scl-side-bar {
		margin-top: 130px;
	}
}

@media all and (max-width: 315px) {
	.college-title1 {
		font-size: 17px;
	}
	.scl-side-bar {
		margin-top: 128.5px;
	}
}

@media all and (max-width: 315px) {
	.college-title1 {
		font-size: 17px;
	}
	.scl-side-bar {
		margin-top: 128.5px;
	}
}

@media all and (max-width: 311px) {
	.scl-side-bar {
		margin-top: 146.5px;
	}
}

@media all and (max-width: 298px) {
	.scl-side-bar {
		margin-top: 172px;
	}
}

@media all and (max-width: 280px) {
	.header-mid-section {
		margin-left: -30px;
	}
	.college-title1 {
		font-size: 15px;
	}
	.college-autonomous {
		font-size: 12px;
	}
	.college-affiliation {
		font-size: 10px;
	}
	.college-estd {
		font-size: 10px;
	}
	.college-eamcet-code {
		font-size: 10px;
	}
	.no1-pic {
		display: none;
	}
	.college-logo-img {
		display: none;
	}
	.naac-pic {
		display: none;
	}
	.scl-side-bar {
		margin-top: 110.5px;
		width: 95%;
	}
}
