.navbar {
	background-color: #fff;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: 1.2rem; */
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	height: 20px;
	z-index: 1;
	width: 100%;
	/* max-width: 1300px; */
}

.navbar-logo {
	justify-self: flex-start;
	cursor: pointer;

	display: flex;
	align-items: center;
	margin-left: 24px;
	font-weight: bold;
	text-decoration: none;
}

.nav-menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
	margin-right: -22px;
}

.nav-item {
	height: 80px;
}

.nav-links {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 960px) {
	.navbar-container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
