.footer{
	display: flex;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00447E;
	color: white;
	justify-content: center;
}
.footer a{
	padding: 3px;
}
.QuickLinks, .StatutoryDataandCommittees, .GetInTouch{
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 25px;
}
.QuickLinks a:hover, .StatutoryDataandCommittees a:hover, .GetInTouch a:hover{
	font-size: larger;
	cursor: pointer;
}
.QuickLinks>div{
	font-weight: bold;
	color: #ffa07a;
}
.QuickLinks i, .StatutoryDataandCommittees i, .GetInTouch i {
	padding-right: 6px;
}
.StatutoryDataandCommittees>div{
	font-weight: bold;
	color: #ffa07a;
}
.GetInTouch>div{
	font-weight: bold;
	color: #ffa07a;
}
.FollowUsIcons{
	font-size: larger;
}
@media all and (max-width:1024px) {
	.footer{
		font-size: 15px;
		padding-left: 10px;
		flex-direction: column;
	}
	iframe{
		width: 250px;
		height: 150px;
	}
}