@tailwind base;
@tailwind components;
@tailwind utilities;

.droppp {
	box-shadow: inset 0 8px 10px rgb(0 0 0 / 30%);
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #3ac2c2;
	border-bottom: 10px solid transparent;
}

.triangle-right-2 {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid white;
	border-bottom: 10px solid transparent;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid white;
	border-bottom: 10px solid transparent;
}
.triangle-left-2 {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid #3ac2c2;
	border-bottom: 10px solid transparent;
}
