.facilities-header{
    background-color:rgb(215, 215, 215);
}
.facilities-background{
    background-color:rgb(171, 226, 255);
}
.library-bg{
    background-color: rgba(254, 250, 243, 0.94);
}
.facilities-Home{
    background-color: rgb(148, 253, 255);
}
<<<<<<< Updated upstream
tr:nth-child(even) {
    background-color:rgb(205, 240, 253);
}
tr:nth-child(odd) {
    background-color:white;
}
th{
    background-color:rgb(95, 188, 255);
}
=======
.table, .table-row, td, th{
    border: 2px solid black;
}
>>>>>>> Stashed changes
